.drink {
    display: grid;
    grid-template-columns: 50% 10% 25%;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.counter {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.counter button {
    color: rgba(222, 122, 34, 0.87);
    background-color: transparent;
    border: 1.8px solid  rgba(222, 122, 34, 0.87);
    border-radius: 0.2rem;
    padding: 5px;
}
